In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(filepath_or_buffer="salaries_by_college_major.csv", index_col=False)

In [3]:
df.head(5)  # show 5th row up to a custum num

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [4]:
df.tail(5)  # show 5th row up to a custum num

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [5]:
all_rows = df.iloc[:,0]
print("Number of rows:",len(all_rows))

Number of rows: 51

In [6]:
all_columns = df.iloc[0,:]
print("Number of columns:", len(all_columns))

Number of columns: 6

In [7]:
df.shape  # Rows & Columns

(51, 6)

In [8]:
all_columns_label_dirt = df.columns
all_columns_label = [label for label in all_columns_label_dirt]
", ".join(all_columns_label)

'Undergraduate Major, Starting Median Salary, Mid-Career Median Salary, Mid-Career 10th Percentile Salary, Mid-Career 90th Percentile Salary, Group'

In [9]:
df.head(2).isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False

In [10]:
bad_row  = df[df.isnull().any(axis=1)]  # for debuging  look for NaN values
bad_row

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df.dropna()  # drop rows with NaN values

In [14]:
df.tail(2)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [18]:
df.iloc[:,1].head()  # column Starting Median Salary

0    46000.0
1    57700.0
2    42600.0
3    36800.0
4    41600.0
Name: Starting Median Salary, dtype: float64

In [30]:
df.iloc[:,1].max()

np.float64(74300.0)

In [21]:
df.iloc[:,1].idxmax()

np.int64(43)

In [37]:
df.iloc[43, 0]  # -> Specific [row, column]

'Physician Assistant'

In [38]:
df.iloc[43, :]  # -> Specific  [ROW, ] all the [, Column]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object