In [1]:
import pandas as pd 
import numpy as np

In [2]:

# Now that we've found the major with the highest starting salary, can you write the code to find the following:

#     What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

#     Which college major has the lowest starting salary and how much do graduates earn after university?

#     Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? 

# I'll provide the solution and the code snippets in the next lesson =)

In [3]:
df = pd.read_csv("salaries_by_college_major.csv", index_col=False)

In [4]:
bad_values_dbug = df[df.isnull().any(axis=1)]
bad_values_dbug

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.dropna()

In [6]:
df.iloc[:, 2].idxmax()

np.int64(8)

In [7]:
df.iloc[8, 0:3:]  # Answer 1 Q

Undergraduate Major         Chemical Engineering
Starting Median Salary                   63200.0
Mid-Career Median Salary                107000.0
Name: 8, dtype: object

In [8]:
df.iloc[:, 1].idxmin()

np.int64(49)

In [9]:
df.iloc[49, 0:2]

Undergraduate Major       Spanish
Starting Median Salary    34000.0
Name: 49, dtype: object

In [10]:
df.iloc[:, 2].idxmin()

np.int64(18)

In [11]:
df.iloc[18, 0:5:2]

Undergraduate Major                  Education
Mid-Career Median Salary               52000.0
Mid-Career 90th Percentile Salary     102000.0
Name: 18, dtype: object

In [12]:
(df.iloc[:, 4] - df.iloc[:, 3]).idxmax()

np.int64(17)

In [13]:
df.iloc[17, [0,3,4]]

Undergraduate Major                  Economics
Mid-Career 10th Percentile Salary      50600.0
Mid-Career 90th Percentile Salary     210000.0
Name: 17, dtype: object

In [14]:
df.iloc[:, 4].subtract(df.iloc[:, 3]).idxmax()

np.int64(17)

In [15]:
df.iloc[17, [0, 3, 4]]

Undergraduate Major                  Economics
Mid-Career 10th Percentile Salary      50600.0
Mid-Career 90th Percentile Salary     210000.0
Name: 17, dtype: object

In [16]:
df.iloc[df.iloc[:,4].subtract(df.iloc[:,3]).idxmax(), [0, 3, 4]]

Undergraduate Major                  Economics
Mid-Career 10th Percentile Salary      50600.0
Mid-Career 90th Percentile Salary     210000.0
Name: 17, dtype: object

In [17]:
custom_df = df.copy() 
custom_df.insert(1, "Spread", custom_df.iloc[:, 4] - custom_df.iloc[:, 3])
custom_df.head(3)

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business

In [18]:
custom_df_sorted = custom_df.sort_values("Spread", ascending=False)
custom_df_new_index = custom_df_sorted.reset_index(drop=True)
custom_df_new_index.head(3)

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
1,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
2,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM

In [19]:

custom_df_sorted.sort_values("Mid-Career 90th Percentile Salary", ascending=False).head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
17,Economics,159400.0,50100.0,98600.0,50600.0,210000.0,Business
22,Finance,147800.0,47900.0,88300.0,47200.0,195000.0,Business
8,Chemical Engineering,122100.0,63200.0,107000.0,71900.0,194000.0,STEM
37,Math,137800.0,45400.0,92400.0,45200.0,183000.0,STEM
44,Physics,122000.0,50300.0,97300.0,56000.0,178000.0,STEM

In [60]:
groups_num_df = custom_df_sorted.groupby("Group").mean(numeric_only=True)
groups_num_df.style.format('{:,.2f}') # values has to be num type

In [64]:
pd.options.display.float_format = '{:,.2f}'.format