In [1]:
# Use .head(), .tail(), .shape and .columns 
# to explore your DataFTo create an Excel Style Pivot Table by grouping entries that belong to a particular category use the .groupby() method

In [2]:
# Look for NaN (not a number) values with .findna() and consider using .dropna() 
# to clean up your DataFrame.

In [3]:
# You can access entire columns of a DataFrame using the square bracket notation: 
# df['column name'] or df[['column name 1', 'column name 2', 'column name 3']]

In [4]:
# You can access individual cells in a DataFrame by chaining square brackets 
# df['column name'][index] or using df['column name'].loc[index]

In [5]:
# The largest and smallest values, as well as their positions, can be found with methods like 
# .max(), .min(), .idxmax() and .idxmin()

In [6]:
# You can sort the DataFrame with  .sort_values()
# and add new columns with  .insert()

In [7]:
# To create an Excel Style Pivot Table by grouping entries that belong to a particular category use the method
# .groupby()

In [8]:
# df.iloc[]
# Integer-based indexing for selecting rows and columns in pandas DataFrame.
# df.iloc[:, 0]  # [:, 0] Means all rows and column 0

In [9]:
# df.iloc[:, 4] - df.iloc[:, 3]
# df.iloc[:, 4].subtract(df.iloc[:, 3])
# Subtraction of the 4th column of DataFrame df from the 3rd column of df

In [10]:
# new_df = df.copy() 
# copy a DataFrame

In [11]:
# df.insert(0, "New-Column", data=df.iloc[:, 4] - df.iloc[:, 3])
# 0 is the 1st column to be inserted; "New-Column" column's name
# and the data values data=[]

In [12]:
# bad_values_dbug = df[df.isnull().any(axis=1)
# Returns all rows where at least one value is NaN (for debugging)

In [13]:
# custom_df_sorted = custom_df.sort_values("Spread", ascending=False) 
# Sorts the DataFrame by "Spread" in descending order

# custom_df_new_index = custom_df_sorted.reset_index(drop=True) 
# Resets the index of the sorted DataFrame, 
# removing the old index for a clean new one

In [14]:
# groups_num_df = custom_df_sorted.groupby("Group").mean(numeric_only=True) 
# Groups the DataFrame by "Group" 
# and calculates the mean of numeric columns only

In [15]:
# pd.options.display.float_format = '{:,.2f}'.format
# Sets the global display format for floating-point numbers to 
# show two decimal places with thousands separators

# groups_num_df.style.format('{:,.2f}') 
# Formats the numeric values to display with two decimal places and 
# thousands separators